*{
  margin: 0px;
  padding: 0px;
}

div.main{
  margin: 20px;
  width: 240px;
  text-align: center;
}

div.result{
  border: 1px solid black;
  margin: 10px 20px;
  padding: 20px;
  width: 150px;
  text-align: center;
}
