*{
  margin: 0px;
  padding: 0px;
  /*background-color: red;*/
}

form.survey{
  width: 350px;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

label {
  width: 150px;
  display: inline-block;
}

input[type="text"], select{
  width: 150px;
  border: 1px solid black;
}

input[type="text"]{
  margin-left: 3px;
}
textarea{
  border: 1px solid black;
}

div.counterbox{
  background-color: lightgreen;
  border: 1px solid black;
  width: 350px;
  margin: 20px;
  padding: 5px;
}

div.summary{
  border: 1px solid black;
  width: 350px;
  height: auto;
  margin: 20px;
  padding: 10px;
}

h4.summary_title{
  text-decoration: underline;
}

.summary p{
  margin-left: 10px;
}
